
<div> 
<h5>Comments</h5>

<% for(comment of post.comments) {%>

<div id="post-comments-<%= comment._id %>">
    <span><%= comment.user.name %> : </span><%= comment.content %><a href="/posts/deleteComment/<%= comment._id %>" > [x]</a>
    <small>
        <% if (locals.user){ %>
            <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                    <%= comment.likes.length %> Likes
            </a>
        <% }else{ %>
            <%= comment.likes.length %> Likes
        <% } %>
    </small>
</div>
<%}%>
<% if(locals.user) {%>
<form  id="post-<%= post._id %>-comments-form" action="/posts/comment/<%= post._id %>" method="post">
<textarea name="content"  cols="10" rows="1" placeholder="comment here" required></textarea>
<input type="hidden" name="post" value="<%= post._id %>">
<input type="hidden" name="postUser" value="<%= locals.user %>" >
<input type="submit" value="Add Comment">
</form>
<%}%>
</div>
</div>