
<div id="post-<%= post._id %>">
    <% if(locals.user) { %>
    <% if(locals.user.id = post.user._id) {%>
        <p><%= post.user.name %></p>
    <a href="/posts/deletePost/<%=post._id %>" class="delete-post-button">(X)</a>
    <% } %>
    <% } %>
<div><%= post.content %></div>
<%- include('_comment') %>